# General
HELP.md
.gradle
build/
.env
.env*

# Gradle specific
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# STS (Spring Tool Suite)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Application specific sensitive files
*.yml
!.github/workflows/prod_pipepline.yml
*.properties

# Docker
/docker-compose.yml
/docker-compose.yaml
/docker-compose.override.yml
*docker-compose*.yml
*docker-compose*.yaml
